body {
    margin: 0;

    font-family: 'Lato', sans-serif;

    font-family: 'Roboto', sans-serif;

    color: #191e1f;
}

*,
    *::before,
    *::after {
    box-sizing: border-box;
}

    h1, h2, h3, h4, h5, h6 {
    margin: 0;     
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {    
    text-decoration: none;
    color: inherit;
}

/* Container */

.container {
    width: 100%;    
    margin: 0 auto;
    padding: 0 30px;
}

/* Sidebar 
=========================*/ 

.sidebar {
    width: 25%;
    height: 100vh;   

    background-color: #e5ebeb;
}

.sidebar__header {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: center;
}

.avatar { 
    border-radius: 50%;    
    border: 3px solid  #bbb;        
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__item {  
    display: flex;
    flex-direction: column;
       
    margin: 10px 0;
    padding: 10px 0;
}

.profile__about {   
    margin: 5px 0;
    font-size: 14px;    
    font-family: 'Lato', sans-serif;
}

.profile__link {
    padding-left: 20px;
}

.profile__link:hover {
    text-decoration: underline;
    color: #000;
}




